/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
}

.wrapper{
    width: 100%;
    margin: auto;
}

/* navigation bar */
.nav{
    padding: 5px;
    width: 85%;
    margin: 1em auto;
    overflow: auto;
}

.nav h1{
    width: 50%;
    float: left;
}

.nav h1 a{
    color: #96746b;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul{
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 1em;
}

.nav ul li{
    display: inline-block;
    margin-left: 1em;
}

.nav ul li a{
    text-decoration: none;
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.banner{
    width: 100%;
    height: 670px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
}

.banner-text h2{
    text-transform: uppercase;
    color: #c7a17a;
    font-size: 4em;
}
.banner-text h2 span{
    color: #96746b;
}

.banner-text p{
    color: #ffffff;
}
.banner-text a{
    text-transform: capitalize;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    background-color: #312a26;
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
}

.ads{
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-item{
    width: 48.5%;
    float: left;
    height: 350px;
    margin-right: 3%;
    margin-bottom: 3%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ads-text{ 
    width: 40%;
    position: absolute;
    top: 30%;
    left: 10%;
}
.ads-text h3{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 3px 3px 6px #312a26;
    line-height: 1.2em;
}
.ads-text a{
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    display: block;
    margin-top: 1em;
    text-shadow: 3px 3px 6px #312a26;
}

.ads-item1{
    background-image: url(../images/ads-img1.jpg);
}

.ads-item2{
    margin-right: 0;
    background-image: url(../images/ads-img2.jpg);
}

/* (4) Merchandise area */
.merch {
    width: 85%;
    margin: 4em auto;
}


.section-header{
    text-align: center;
}
.section-header span{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #c7a17a;
    font-style: italic;
}

.section-header h2{
    text-transform: uppercase;
    color: #312a26;
}

.section-header hr{
    width: 25%;
    height: 2px;
    background-color: #c7a17a;
    margin: auto;
}

.merch{
    width: 85%;
    margin: 4em auto;
}

.merch-gallery{
    margin-top: 2em;
}

.merch-items{
    width: 24.25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}

.merch-items:nth-child(4),
.merch-items:nth-child(8)
{
    margin-right: 0;
}

.merch-items img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* (5) Discount area */
.discount {
    width: 85%;
    margin: 4em auto;
    background-image: url("../images/discount-img.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
}

.discount-text {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discount-text span {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-style: italic;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text a {
        text-decoration: none;
        display: inline-block;
        padding: 1em;
        background-color: rgba(255, 255, 255, .5);
        color: #312a26;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-top: 1em;
}

/* (7) Ads area */
/* add class name to <div class="ads-items ads-item#"> in HTML --> to add different images*/
.ads-item3 {
    margin-right: 3%;
    background-image: url("../images/ads-img3.jpg");
}

.ads-item4 {
    background-image: url("../images/ads-img4.jpg");
}

.ads-item5 {
    margin-right: 3%;
    background-image: url("../images/ads-img5.jpg");
}

.ads-item6 {
    background-image: url("../images/ads-img6.jpg");
}