.text-dark-red{
    color: darkred;
}

.text-yellow{
    color: rgb(218, 218, 0);
}

.text-yellow-50{
    color: rgb(218, 218, 0);
    opacity: .5; /* transparency @ 50% */
}

.text-green{
    color: rgba(10, 65, 10,.7);
    /* transparency @ 70% */
}

.text-pink{
    color: #ff00cc;
}

.font-serif{
    font-family: serif;
}

.font-sans-serif{
    font-family: sans-serif;
}

.font-monospace{
    font-family: monospace;
}

.text-30px{
    font-size: 30px;
}

.text-3em{
    font-size: 3em;
    /* final font size = original font size * 3 */
}

.text-50-percent{
    font-size: 50%;
    /* Size is 50% of the original font size */
}

.font-weight-bold{
    font-weight: bold;
}

.font-weight-normal{
    font-weight: normal;
}

.font-weight-lighter{
    font-weight: lighter;
}

.font-weight-200{
    font-weight: 200;
}

.font-weight-900{
    font-weight: 900;
}

.font-style-normal{
    font-style: normal;
}

.font-style-italic{
    font-style: italic;
}

.font-style-oblique{
    font-style: oblique;
}